Back/HELP.md
Back/target/
Back/!.mvn/wrapper/maven-wrapper.jar
Back/!**/src/main/**/target/
Back/!**/src/test/**/target/

Front/node_modules



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
Front/.vscode/


