.theme {
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

app-card {
  margin-bottom: 15px;
  width: 95%;

}

@media (min-width: 1024px) {
  .theme {
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  app-card {
    width: calc(33.333% - 5px); /* Adjust the width to account for margin */
    margin-right: 5px;
  }

  app-card:nth-child(3n) {
    margin-right: 0; /* Remove margin for every third element */
  }
}
