<div class="app">
  <div *ngIf="clickedLogin || clickedRegister || (isLogged$ | async); else notLogged">
      <router-outlet></router-outlet>
  </div>
  <ng-template #notLogged>
    <div class="app-logo-button">
      <img src="../../../../assets/images/logo.png" alt="logo de MDD">
      <div class="app-button">
        <app-button buttonText="Se connecter" (click)="navigateToLogin()"></app-button>
        <app-button buttonText="S'inscrire" (click)="navigateToRegister()"></app-button>
      </div>
    </div>
  </ng-template>

</div>
