<section class="article-new">
  <div class="article-new-title-form">
    <a class="arrow" routerLink="/articles">
      <img  src="../../../../assets/images/arrow.png" alt="flèche vers la gauche" >
    </a>
    <h1>Créer un nouvel article</h1>
  <form [formGroup]="articleForm" (ngSubmit)="submit()">
    <select formControlName="themeId" required>
      <option value="" disabled selected hidden class="placeholder-option">Sélectionner un thème</option>
      <option *ngFor="let theme of themes" [value]="theme.id">{{ theme.name }}</option>
    </select>
    <input type="text" formControlName="title" placeholder="Titre de l'article" required>
    <textarea formControlName="content" placeholder="Contenu de l'article" required></textarea>
    <button type="submit">Créer</button>
  </form>
  </div>
</section>
